<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
  <title>Login</title>
  <!-- Custom CSS -->
  <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
  <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
  <![endif]-->
</head>

<body>
<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" th:style="'background: url(' + @{/assets/images/big/auth-bg.jpg} + ') no-repeat center center;'">
    <div class="auth-box">
      <div id="login-form">
        <div class="logo">
          <span class="db"><img th:src="@{/assets/images/logo-icon.png}" alt="logo" /></span>
          <h5 class="font-medium m-b-20">Se connecter à Stock Management</h5>
        </div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
            <form class="form-horizontal m-t-20" id="login-form" th:action="@{/login}" method="post">
              <div th:if="${param.error}" class="alert alert-danger">
                Nom d'utilisateur ou mot de passe incorrect.
              </div>
              <div th:if="${param.logout}" class="alert alert-success">
                Vous avez été déconnecté.
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="username-addon"><i class="ti-user"></i></span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="username-addon" name="username" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="password-addon"><i class="ti-pencil"></i></span>
                </div>
                <input type="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="password-addon" name="password" required>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="remember-me-checkbox" name="remember-me">
                    <label class="custom-control-label" for="remember-me-checkbox">Se souvient de moi</label>
                  </div>
                </div>
              </div>
              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                  <button class="btn btn-block btn-lg btn-info" type="submit">Se connecter</button>
                </div>
              </div>
              <div class="form-group m-b-0 m-t-10">
                <div class="col-sm-12 text-center">
                  Vous n'avez pas un compte? <a th:href="@{/register}" class="text-info m-l-5"><b>S'inscrire</b></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
  $('[data-toggle="tooltip"]').tooltip();
  $(".preloader").fadeOut();
  // ==============================================================
  // Login and Recover Password
  // ==============================================================
  $('#to-recover-link').on("click", function() {
    $("#login-form").slideUp();
    $("#recover-form").fadeIn();
  });
</script>
</body>
</html>